<div class="header">
	<h1 class="slidetitle">Powerful Email and Elegant Web Browsing</h1>
</div>

<div class="main">

<div class="text">

<br>
<br>
<p>The <span class="b">Sylpheed</span> intuitive user interface allows for easy mail management and is packed with features to meet your every need.</p><br><br><p>With <span class="b">Midori</span>, you surf the web in style. Lightweight and fast, Midori features full support for HTML 5 and CSS 3. Of course, you can choose to add other web browsers later.</p>

</div>
<img class="screenshot" src="screenshots/email.png" />

</div>
