<div class="header"><h1 class="slidetitle">Organize Your Photos with gThumb</h1></div>

<div class="main">
<div class="text">
<br>
<br>
<p>Keep your photos organized with <span class="b">gThumb</span>, an image viewer, browser, organizer, and editor all in one.</p> 
<br>
<p>Many formats are supported, and you can add comments and descriptions to images, organize them, resize them indivually or by batch, and much more.</p>
</div>
<img class="screenshot" src="screenshots/gthumb.png" />
</div>
