<div class="header"><h1 class="slidetitle">Office Productivity</h1></div>

<div class="main">

<div class="text">
<br>
<br>
<p>Bento comes with the full <span class="b">LibreOffice</span> professional quality open source suite.<p>
<br>
<p>This includes a text processor, spreadsheets, presentations, drawing, maths, and database.</p>
<br>
<p>LibreOffice also allows reading and writing documents from other Office suites.</p>

</div>

<img class="screenshot" src="screenshots/libreoffice.png" />

</div>
