<div class="header"><h1 class="slidetitle">Ubuntu Software Center</h1></div>

<div class="main">

<div class="text">

<br>
<p>A world of software at your fingertips, with <span class="b">Ubuntu Software Center</span>. Handy to use, selecting and installing user applications is easy.</p>
<br>
<p>Both commercial and non commercial software are available from the repositories. You can browse programs by categories, or use the quick search field to look for a specific one.</p>
<br>
<br>
<p><strong>Installation is nearly complete. Thank you for choosing Bento!</strong></p>

</div>
<img class="screenshot" src="screenshots/usc.png" />

</div>
