<div class="header">
	<h1 class="slidetitle">Welcome to Bento</h1>
</div>

<div class="main wide">

<div class="text">
<br>
<br>
<p>Built on Ubuntu LTS, <span class="b">Bento</span> is an <span class="b">Openbox Remix</span>. </p>
<br>
<p>It uses the Openbox window manager along with a few other programs. It is meant to be <span class="b">easy to use</span>, while <span class="b">fast and reliable</span>.</p>
<br>
<p>Bento can be used as is, or customized to your heart's content.</p>
<br>
<br>
<p>Whether at work or at play, Bento's goal is to be the Linux distribution for all your needs.</p>


</div>

<img class="background" src="screenshots/welcome.png" />

</div>
