<div class="header">
	<h1 class="slidetitle">Ready to Rock with Xnoise and Radio Tray</h1>
</div>

	<div class="main">
		<div class="text">
			 <br>
			 <br>		
			<p>The <span class="b">Xnoise</span> program is a full featured media player for large music and video collections. It is simple, light and fast.</p>
			<br>
			 <br>
			  <p><span class="b">Radio Tray</span> is an online radio streaming player.
			 <br>
			  <p>Running in the system tray, Radio Tray has a minimal, straightforward interface.</p>
			 <br>
			  <p>Features include: plays most media formats, extensible by plugins, and much more.</p>
		</div>
	<img class="screenshot" src="screenshots/xnoise.png" />
</div>
