html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size: 100%;
	font-style:normal;
	text-decoration:none;
	font-weight:normal;
	vertical-align:baseline;
	background:transparent;

}

html, body {
	margin:0;
	padding:0;
	
	background-color:#F7F6F6;
	
	font-family:'Ubuntu', 'UbuntuBeta', sans-serif;
	font-size:14px;
	line-height:1.4em;
	
	color:#333333;
	
	/* no reason to expose this extra stuff to the user */
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	cursor:default;
}

/*
Hyperlink-style text
*/
a {
	color:#DD4814;
	text-decoration:none;
	display:inline;
}

.text a:hover {
	text-decoration:underline;
}

#wrapper {
	position:absolute;
	
	width:800px;
	height:100%;
}

#slideshow {
	width:800px;
	min-height:442px;
	height:100%;
	overflow:hidden;
}
#slideshow > div {
	position:absolute;
	width:100%;
	height:100%;
}

.control-arrow {
	display:block;
	position:absolute;
	
	z-index:100;
	top:218px;
	height:64px;
	width:33px;
	
	background-repeat:no-repeat;
	cursor:pointer;
}
.control-arrow.disabled {
	cursor:default;
}
.control-arrow:hover {
	background-position: 0px -65px;
}
.control-arrow:active {
	background-position: 0px -130px;
}
.control-arrow#prev-slide {
	background-image:url('arrow-back.png');
	left:0px;
}
.control-arrow#next-slide {
	background-image:url('arrow-next.png');
	left:767px; /* 850px - 33px */
}

/* Fixed container for a slide's title */
.header {
	display:table; 
	top:0px;
	width:100%;
	height:68px;
	background-color:#254367;
}

.header > .slidetitle {
	display:table-cell;
	/*margin:10px 25px 10px 25px;*/
	padding:0px 25px;
	vertical-align:middle;
	
	font-size:20px; /* applies to all lines except first */
	line-height:1em;
	font-weight:normal;
	color:#DED9CB;
}
.slidetitle:first-line {
	font-size:36px; /* TODO: 24px? */
	line-height:32px;
}

.main {
	position:absolute;
	top:70px; /* 68px + 2px margin */
	bottom:2px;
	left:2px;
	right:2px;
	min-height:370px; /* 442px (from #slideshow) - 70px - 2px */
	
	/* move this to #slideshow if we don't want the background image to move with slides */
	background-image:url('background.png');
}

.main.wide {
	top:68px;
	left:0px;
	right:0px;
	bottom:0px;
	background-image:none;
}

/*
A slide's body text goes inside here.
Inner space is 224px wide.
*/
.main > .text {
	position:absolute;
	z-index:10;
	top:25px;
	left:36px;
	width:310px;
	bottom:35px;
	min-height:329px; /* 369 - 25 - 15 (for bottom) */
	overflow:auto;
}

.text > div {
	margin-bottom:8px;
	padding:6px 12px;
	background-color:#F7F6F6;
}
.text > div:last-child {
	margin-bottom:0px;
}

.text > div > .subtitle {
	padding-bottom:2px;
	margin-bottom:5px;
	font-size:inherit;
	font-weight:normal;
	text-decoration:none;
	border-bottom:#333333 dotted 1px;
}

.main.wide > .text {
	top:25px;
	width:350px;
}

.main.wide > .text > div {
	background:transparent;
	font-size:16px;
	line-height:1.2em;
	color:#333333;
	text-shadow:1px 1px 2px #ffffff;

}

/* Expects screenshot to be 448x304 px */
.main > .screenshot {
	position:absolute;
	top:25px;
	right:-2px; /* offsets 2px margin of .main */
	
	z-index:2;
	
	-webkit-box-shadow:#999999 0px 30x 5x;
	-moz-box-shadow:#999999 0px 0px 5px;
	box-shadow:#999999 0px 0px 5px;
}

/* Expects screenshot to be 748x370 px */
.main.wide > .background {
	top:0px;
	right:0px;
	width:100%;
	-webkit-box-shadow:#999999 0px 30x 100x;
	-moz-box-shadow:none;
	box-shadow:none;
	
	z-index:0;
}

/*
This rule disables drag-and-drop for images.  See bug #448703.
*/
img {
 	-webkit-user-drag:none;
}

/* RTL stuff */
.rtl {
	direction:rtl;
}

.rtl .control-arrow#prev-slide {
	background-image:url('arrow-next.png');
	left:719px;
}
.rtl .control-arrow#next-slide {
	background-image:url('arrow-back.png');
	left:0px; /* 752px - 33px */
}

.rtl .main > .text {
	left:auto;
	right:36px;
}

.rtl .main > .screenshot {
	right:auto;
	left:-2px;
}

.rtl .featured li .icon {
	padding-right:0px;
	padding-left:12px;
}

.l10n-string {
	display:none;
}

.b {
font-weight:bold;
}
